main {

}

main > div {
    margin-left: 10%;
    margin-right: 10%;
}

#bottom {
    margin-top: 30px;
    margin-bottom: 30px;
}

#comment-input {
    width: 60%;
}

#orders {
    margin-bottom: 10px;
    margin-left: 80%;
}

#orders span {
    margin-right: 10px;
}

.comment {
    border: silver 1px solid;
    padding: 5px;
}
.comment-username{
    font-style: italic;
}
.comment-time{
    font-style: initial;
    font-size: 14px;
}
.userComments {
    margin-left: 20px;

}

p, span {
    font-family: "Arial", "sans-serif";
    font-size: 16px;
}

.heat {
    margin-left: 97%;
    cursor: pointer;
}

#detail-name {
    font: 18pt "Segoe Script";
    margin-bottom: 2px;
    margin-left: 5px;
}

#detail-author {

    font: italic 12pt serif;
    margin-top: 2px;
}

#detail-author a {
    text-decoration: none;
}

#detail-author a:hover {
    color: rgba(56, 142, 199, 0.7);
}

#detail-description {

    font-size: 16pt;
    text-align: justify;
}

.detail-image {
    width: 400px;
    height: 400px;

}

#detail-box {
    margin: 0 auto;
    display: flex;
}

#right-text {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 680px;


}

#buttons input {
    background-color: #87bff2;
    font-weight: bold;
}

#detail-table {
    border-collapse: collapse;
    font: 12pt Arial;
    margin-top: 20px;
}

#detail-table td {
    padding: 10px;


}


#detail-table tr {
    background-color: #F1F1F1;
    border-bottom: 1px solid white;
    color: #6E6E6E;
}

#detail-table thead tr {
    background-color: #CACACA;
    padding: 0.75em;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
}


.wrap {
    position: relative;
    height: 400px;
    width: 400px;
    float: left;
}

.wrap .smallImg, .wrap .bigImg {
    position: absolute;
    top: 0;
    width: 400px;
    height: 400px;
    border: 1px solid #FFFFFF;
    overflow: hidden;
    z-index: 10;
}

.wrap .smallImg {
    left: 0;
    cursor: move;
}

.wrap .bigImg {
    left: 410px;
    display: none;
}

.wrap .bigImg img {
    position: absolute;
    left: 0;
    top: 0;
}

#shadow {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100px;
    height: 100px;
}

#shadow table {
    border-collapse: collapse;
    border-color: rgba(115, 150, 218, 0.5);
}


.td_top {
    border-top: 1px solid rgba(0, 0, 0, 0);
}

.td_left {
    border-left: 1px solid rgba(0, 0, 0, 0);
}

.td_right {
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.td_bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

