#searchBox{
    text-align: center;
    margin: 10px;
    padding: 5px;
}
#searchForm{
    margin: 0  auto;
}
.form-group{
    margin-right: 15px;
    margin-left: 15px;
}
.form-group span{
    font-weight: bold;

}









.newPic {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.new {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.new-image {
    width: 300px;
    height: 200px;
}

.new-info {
    margin: 10px;
    font-family: "Arial", "sans-serif";
    font-size: 16px;
}

.newPic a {
    font: 1em "Segoe Script";
    text-decoration: none;
    font-size: 16px;
    padding: 3px 2px;
}

#result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.items {
    width: 25%;
    padding: 5px;
    border: rgba(214, 132, 61, 0.25) solid;

    margin: 10px;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

#result div a {
    font: 1em "Segoe Script";
    text-decoration: none;
    font-size: 16px;
    padding: 3px 2px;

}

#result .author {

}

#result .title {
    font-weight: bold;
}
.result img {
    /*width: 300px;*/
    /*height: 200px;*/
}
p{
    font-size: 16px;
}
#searchResult{
    padding: 20px;
    text-align: center;
    margin: 10px;

}

#result{
    width: 100%;

    margin: 0  auto;
}