<component name="ArtifactManager">
  <artifact type="exploded-war" build-on-make="true" name="web">
    <output-path>$PROJECT_DIR$/web/WEB-INF/classes/artifacts/web</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="webPJ" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/jstl.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/standard.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/c3p0-0.9.5.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/commons-dbutils-1.7.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/commons-beanutils-1.9.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/mchange-commons-java-0.2.19.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/mysql-connector-java-5.1.24-bin.jar" />
          <element id="library" level="module" name="JUnit5.3" module-name="webPJ" />
          <element id="library" level="project" name="lib" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="webPJ/web/web" />
    </root>
  </artifact>
</component>